<!-- Sidenav -->
<!-- <div class="main-content"> -->
  <!-- Top navbar -->
  <!-- <app-navbar></app-navbar> -->
  <!-- Pages -->
  <!-- <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div> -->



<div class="container-fluid h-100 bla">
  <div class="row h-100">
      <aside class="col-12 col-md-2 p-0 fixed-top">
        <app-sidebar></app-sidebar>
      </aside>
      <main class="col offset-md-2 bg-faded main">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
      </main>
      <div class="col-12">
        <app-footer></app-footer>
      </div>
  </div>
</div>
