<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">

              </div>
            </div>
          </div>



<div class="container-fluid">
  <div class="row">

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 contenedor">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 ">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="this.usuario as user">
          <div class="col-md-8">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(usuario.photoURL) ? usuario.photoURL : 'assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Bienvenido: <strong>{{(usuario.displayName) ? usuario.displayName : 'User'}}</strong></h1>
                <br>
                <p>Email: <strong>{{user.email}}</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="this.usuario as user">
          <div class="col-md-8" style="margin-top: 30px;">
            <h4 >Main</h4>
            <p>Bienvenido, esta es tu pagina de perfil, muestra tu infomacion personal. Para navegar por la pagina debes usar la barra lateral donde encontraras acceso a las diferentes secciones de la pagina especialmente diseñadas para tu perfil.
              </p>


          </div>
        </div>


      </div>
    </main>
  </div>


</div>
