<!-- <div class="container">
  <div class="row justify-content-center vh-100 align-items-center">
    <div class="col-8 col-8 text-center align-items-center">
      <div class="displayTable">
        <div class="displayTableCell">

          <div class="authBlock">
            <h3>Sign In</h3>
            <div class="formGroup">
              <input type="text" class="input-group-text  my-0 mx-auto" placeholder="Username" #userName required>
            </div>

            <div class="formGroup">
              <input type="password" class="input-group-text  my-2 mx-auto" placeholder="Password" #userPassword required>
            </div> -->

            <!-- Calling SignIn Api from AuthService -->
            <!-- <div class="formGroup">
              <input type="button" class="btn btn-primary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
            </div>

            <div class="formGroup">
              <span class="or"><span class="orInner">Or</span></span>
            </div>


            <div class="forgotPassword">
              <span routerLink="/forgot-password">Forgot Password?</span>
            </div>
          </div>

          <div class="redirectToLogin">
            <span>Don't have an account?<span class="redirect" routerLink="/register"> Sign Up</span></span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="container-fluid">
  <div class="row no-gutter">
    <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex bg-image"></div>

    <!-- The content half -->
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">

        <!-- Demo content-->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <!-- Alert ERROR-->
              <div #alertError class="alert alert-danger d-none" role="alert">
                Lo sentimos! Ocurrio un error
              </div>
              <h3 class="display-4">Inicia sesión</h3>
              <p class="text-muted mb-4">Para poder operar debes inciar sesión.</p>
              <form>
                <div class="form-group mb-3">
                  <input id="inputEmail" #userEmail type="email" placeholder="Correo electronico" required="" autofocus=""
                    class="form-control rounded-pill border-0 shadow-sm px-4">
                </div>
                <div class="form-group mb-3">
                  <input id="inputPassword" #userPassword type="password" placeholder="Contraseña" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                  <label for="customCheck1" class="custom-control-label">Recordar contraseña</label>
                </div>
                <button *ngIf="!isLoading" type="submit" class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm"
                  (click)="onLogin(userEmail.value, userPassword.value)">Ingresar</button>
                <div *ngIf="isLoading" class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <div class="text-center d-flex justify-content-between mt-4">
                  <p>No tienes una cuenta? <a routerLink="/register" class="font-italic text-muted">
                      <u>Crear</u></a></p>
                </div>
              </form>
            </div>
          </div>
        </div><!-- End -->
      </div>
    </div><!-- End -->
  </div>
</div>


