<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Especialistas</h5>
                  <span class="h2 font-weight-bold mb-0">{{cards.especialistas}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Desde el ultimo mes</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Usuarios</h5>
                  <span class="h2 font-weight-bold mb-0">{{cards.clientes}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Desde la ultima semana</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Turnos</h5>
                  <span class="h2 font-weight-bold mb-0">{{cards.turnos}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-verde text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Desde ayer</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Consultorios</h5>
                  <span class="h2 font-weight-bold mb-0">4</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Desde la ultima semana</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7 contenedor">

  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Turnos</h3>
            </div>
            <div class="col text-right">
              <a *ngIf="this.usuario.type == 'Admin' || this.usuario.type == 'Especialista'" class="btn btn-sm btn-primary" (click)="TraerTurnos(); onReset()" style="color: white;">Mostrar Todos</a>
              <a *ngIf="this.usuario.type == 'Cliente' || this.usuario.type == 'Recepcionista'" class="btn btn-sm btn-primary" (click)="descarga(); onReset()" style="color: white;">Descargar Turnos</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th *ngIf="this.usuario.type != 'Especialista'" scope="col">Especialista</th>
                <th scope="col">Especialidad</th>
                <th *ngIf="this.usuario.type != 'Cliente'" scope="col">Cliente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Consultorio</th>
                <th *ngIf="this.usuario.type == 'Cliente' || this.usuario.type == 'Especialista'" scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <span *ngIf="turnos.length == 0" class="fuenteTabla text-sm">No se encuentran turnos registrados.</span>
              </tr>
              <tr *ngFor="let turno of turnos">
                <th *ngIf="this.usuario.type != 'Especialista'" scope="row">
                    {{turno.NombreEspecialista}}
                </th>
                <td>
                    <span class="fuenteTabla text-sm">{{turno.Especialidad}}</span>
                </td>
                <td *ngIf="this.usuario.type != 'Cliente'" scope="row">
                    {{turno.NombreCliente}}
                </td>
                <td>
                    <span class="fuenteTabla text-sm">{{turno.Fecha | date:'shortDate'}}</span>
                </td>
                <td *ngIf="turno.Estado == 'Pendiente' && this.usuario.type == 'Recepcionista'">
                  <span class="fuenteTabla text-sm effect-1" ><a (click)="iniciarYCancelarTurno(turno)" data-tooltip="Iniciar o cancelar turno"><i class="fas fa-circle pendiente mr-3"></i> {{turno.Estado}}</a> </span>
                </td>
                <td *ngIf="turno.Estado != 'Pendiente' && this.usuario.type == 'Recepcionista'">
                  <span class="fuenteTabla text-sm effect-1" ><i class="fas fa-circle mr-3" [appEstadoTurno]="turno.Estado"></i> {{turno.Estado}} </span>
                </td>
                <td *ngIf="this.usuario.type != 'Recepcionista'">
                    <span class="fuenteTabla text-sm effect-1" ><i class="fas fa-circle mr-3" [appEstadoTurno]="turno.Estado"></i> {{turno.Estado}}</span>
                  </td>
                <td>
                  <span class="fuenteTabla text-sm"> {{turno.Consultorio}}</span>
                </td>
                <!-- <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                </td>
                <td>
                  <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                </td> -->
                <td *ngIf="this.usuario.type == 'Cliente'" scope="row">
                    <button *ngIf="turno.Estado == 'Finalizado' && turno.Encuesta == null" class="btn btn-registro btn-primary btnClienteYEsp" (click)="realizarEncuesta(turno)">Dejar Encuesta</button>
                    <button *ngIf="turno.Estado == 'Finalizado' && turno.Encuesta != null" class="btn btn-registro btn-primary btnClienteYEsp" (click)="MostrarEncuestaResenia(turno)">Observaciones</button>
                </td>
                <td *ngIf="this.usuario.type == 'Especialista'" scope="row"> <!-- cambiar pendiente por iniciado -->
                    <button *ngIf="turno.Estado == 'Iniciado'" class="btn btn-registro btn-primary btnClienteYEsp" (click)="finalizarTurno(turno)">Finalizar</button>
                    <button *ngIf="turno.Estado == 'Finalizado'" class="btn btn-registro btn-primary btnClienteYEsp" (click)="MostrarEncuestaResenia(turno)">Ver Encuesta</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 *ngIf="usuario.type == 'Cliente' || usuario.type == 'Recepcionista'" class="mb-0">Crear Turno</h3>
              <h3 *ngIf="usuario.type == 'Especialista'" class="mb-0">Filtrar por fecha</h3>
              <h3 *ngIf="usuario.type == 'Admin'" class="mb-0">Filtros</h3>
            </div>
            <div class="col text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <!-- <thead class="thead-light">
              <tr>
                <th scope="col">Referral</th>
              </tr>
            </thead> -->
            <tbody class="tableAlta">
              <tr>
                <th scope="row">
                  <form [formGroup]="registerForm" (ngSubmit)="CrearTurno()">  <!--onRegistrar()-->
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-11">
                          <div class="form-group">
                            <label *ngIf="this.usuario.type != 'Admin'" class="form-control-label" for="input-username">Fecha Turno</label>
                            <label *ngIf="this.usuario.type == 'Admin'" class="form-control-label" for="input-username">Seleccione primer Fecha</label>
                            <input class="form-control form-control-alternative" type="date" formControlName="fechaForm" (change)="FechaDenegada();FiltroEspecialistaFecha(); TraerEspecialistas2()" placeholder="Seleccione una fecha...">
                            <!-- [ngClass]="{ 'is-invalid': submitted && f.name.errors }" /> -->
                            <!-- <div *ngIf="submitted && !!f.name.errors" class="invalid-feedback">
                              <div *ngIf="!!f.name.errors.required">Debe ingresar su nombre</div>
                              <div *ngIf="!!f.name.errors.name">name debe ser valido</div>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Calendario de NGPrime -->
                    <!-- <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-11">
                          <div class="form-group">
                            <label *ngIf="this.usuario.type != 'Admin'" class="form-control-label" for="input-username">Fecha Turno</label>
                            <label *ngIf="this.usuario.type == 'Admin'" class="form-control-label" for="input-username">Seleccione primer Fecha</label>
                            <p-calendar inputStyleClass="form-control form-control-alternative" formControlName="fechaForm" [readonlyInput]="true" [minDate]=minDate (onSelect)="FiltroEspecialistaFecha(); TraerEspecialistas2()" placeholder="Seleccione una fecha..."></p-calendar> -->
                            <!-- <input class="form-control form-control-alternative" type="date" formControlName="fechaForm" (change)="FiltroEspecialistaFecha(); TraerEspecialistas2()" placeholder="Seleccione una fecha..."> -->

                            <!-- [ngClass]="{ 'is-invalid': submitted && f.name.errors }" /> -->
                            <!-- <div *ngIf="submitted && !!f.name.errors" class="invalid-feedback">
                              <div *ngIf="!!f.name.errors.required">Debe ingresar su nombre</div>
                              <div *ngIf="!!f.name.errors.name">name debe ser valido</div>
                            </div> -->
                          <!-- </div>
                        </div>
                      </div>
                    </div> -->
                    <div *ngIf="this.usuario.type == 'Admin'" class="pl-lg-4">
                        <div class="row">
                          <div class="col-lg-11">
                            <div class="form-group">
                              <label class="form-control-label" for="input-username">Seleccione segunda fecha</label>
                              <input class="form-control form-control-alternative" type="date" formControlName="fechaForm2" placeholder="Seleccione una fecha...">
                              <!-- [ngClass]="{ 'is-invalid': submitted && f.name.errors }" /> -->
                              <!-- <div *ngIf="submitted && !!f.name.errors" class="invalid-feedback">
                                <div *ngIf="!!f.name.errors.required">Debe ingresar su nombre</div>
                                <div *ngIf="!!f.name.errors.name">name debe ser valido</div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    <div *ngIf="this.usuario.type == 'Recepcionista'" class="pl-lg-4">
                      <div class="row">
                        <div class="col-md-11">
                          <div class="form-group">
                            <label class="form-control-label" for="select-esp">Seleccione Cliente</label>
                            <select formControlName="clienteForm" class="form-control form-control-alternative" id="select-esp">
                              <option value="" disabled selected>Seleccione Cliente</option>
                              <option *ngFor='let cliente of clientes' [ngValue]="cliente">{{cliente.displayName}}</option>
                            </select>
                            <!-- <div *ngIf="submitted && !!f.type.errors" class="invalid-feedback">
                              <div *ngIf="!!f.type.errors.required">Debe ingresar tipo</div>
                              <div *ngIf="!!f.type.errors.type">name debe ser valido</div>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="this.usuario.type == 'Cliente' || this.usuario.type == 'Recepcionista'" class="pl-lg-4">
                      <div class="row">
                          <div class="col-md-11">
                              <div class="form-group">
                                <label class="form-control-label" for="select-esp">Especialidad</label>
                                <select formControlName="especialistaForm" class="form-control form-control-alternative" id="select-esp">
                                  <option value="" disabled selected>Seleccione Especialista</option>
                                  <option *ngFor='let especialista of especialistas' [ngValue]="especialista">{{especialista.displayName}} - {{especialista.especialidad}}</option>
                                </select>
                              </div>
                            </div>
                      </div>
                    </div>
                    <div class="pl-lg-4">
                      <div class="form-group text-center">
                          <button *ngIf="usuario.type == 'Cliente' || usuario.type == 'Recepcionista'" type="submit" class="btn btn-registro btn-primary">Crear Turno</button>
                      </div>
                    </div>
                  </form>
                  <div *ngIf="this.usuario.type == 'Admin'">
                      <div class="pl-lg-4">
                        <div class=" text-center">
                            <button class="btn btn-registro btn-filtro-fecha btn-primary" (click)="FiltroAdminEntreDosFechas()" >Filtrar por fecha</button>
                        </div>
                      </div>
                      <hr class="my-4">
                      <div class="pl-lg-4">
                        <div class="row">
                          <div class="col-md-11">
                              <div class="form-group">
                                <label class="form-control-label" for="select-esp">Estadisticas</label>
                                <select [(ngModel)]="opcionFiltroAdm" class="form-control form-control-alternative" (change)="FiltrosAdministrador()" id="select-filtro">
                                    <option value="" disabled selected>Elegir filtro</option>
                                    <option>Cant. de dias sin turnos</option>
                                    <option>Cancelados por especialidad</option>
                                    <option>Realizados por clientes</option>
                                    <option>Realizados por recepcionisas</option>
                                </select>
                              </div>
                            </div>
                      </div>
                      </div>
                    </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
